@media (max-width: 425px) {
    
    .main .container-numbers .numbers .number {
        width: 90px;
        height: 120px;
    }

    .main .container-numbers {
        gap: 10px;
    }

    .main .container-numbers .numbers .number .number-color {
        font-size: 60px;
    }

}

@media (max-width: 375px) {
    
    .main .container-numbers .numbers .number {
        width: 80px;
        height: 100px;
    }

    .main .title {
        font-size: 34px;
    }

    .main .container-numbers .numbers .number .number-color {
        font-size: 50px;
    }

    .main .container-numbers .numbers p {
        font-size: 16px;
    }

}

@media (max-width: 320px) {
    
    .main .container-numbers .numbers .number {
        width: 60px;
        height: 80px;
    }

    .main .title {
        font-size: 26px;
    }

    .main .container-numbers .numbers .number .number-color {
        font-size: 40px;
    }

    .main .container-numbers .numbers p {
        font-size: 12px;
    }

}